/* #222626,#94909E,#918594,#EBD0AB,#F2E0B6,#222626,#94909E,#9185 */
body{
    height: 100vh;
    /* background-color: #a2bcd7; */
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.container, .container-dueto, .container-terceto, .container-quarteto{
    display: flex;
    margin-bottom: 1rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: #a2bcd7;
    font-size: 2rem;
    border-radius: 0.7rem;
    margin-left: 0.5rem;
    /* border-bottom: 2px solid #90a0b4; */
    color: #2c4c72;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    box-shadow: 0px 4px 4px #888;
}
.nav, .qtdLetras{
    display: flex;
    text-align: center;
}
.acertouLetra{
    background-color: green;
}
.existeLetra{
    background-color: orange;
}
.jogos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    font-family: 'Kanit', sans-serif;
}
.nav{
    box-shadow: 0px 4px 4px #888;
    margin-bottom: 1rem;
    border-radius: 2rem;
}
#panel{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.nome{
    width: 70rem;
}
.qtdLetras{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    font-family: 'Kanit', sans-serif;
} 
p{
    cursor: pointer;
}
::-webkit-scrollbar{
    visibility: hidden;
}
#telaGameFinish{
    display: flex;
    width: 100%;
    height: 20rem;
    position: absolute;
    place-items: center;
    justify-content: center;
}
#telaGameFinish div{
    display: grid;
    width: 30rem;
    height: 10rem;
    background-color: #2c4c72;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #888;
    font-family: 'Kanit', sans-serif;
}
p{
    color: #a2bcd7;
}
.jogos p:hover, .qtdLetras p:hover{
    transition: 0.5s;
    color: #2c4c72;
    text-decoration: underline;
}
h2{
    color: white;
    text-align: center;
}
h1{
    font-family: "Protest Guerrilla", sans-serif;
}
#palavraChave{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
}
b{
    color: green;
}
span{
    color: orange;
}